footer{
    width:100% ;
    padding: 50px 0px;
    background-color: #343434;
    background-size: cover;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;

}

.box__footer .logo img{
    width: 150px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color:#7a7a7a;
    font-weight: 700;

}

.box__footer a{
    margin-top: 10px;
    color:#7a7a7a;
    font-weight: 600;

}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;

}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color:#7a7a7a;

}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}


#proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }

  .proyecto {
    width: 300px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .proyecto:hover {
    transform: scale(1.05);
  }

  .proyecto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .proyecto-info {
    padding: 10px;
  }

 